# pandas入门

In [1]:
import pandas as pd

## pandas中有两种数据结构
    1.DataFrame 十一张表(table)
    2.Series 是一个list

In [2]:
pd.DataFrame({'Yes':[50,21],'No':[131,2]})

    No  Yes
0  131   50
1    2   21

In [3]:
pd.DataFrame({'Bob':['I liked it.','It was awful.'],'Sue':['Pretty good!','Bland']})

             Bob           Sue
0    I liked it.  Pretty good!
1  It was awful.         Bland

默认行标为0,1...，也可以为行表取名

In [4]:
pd.DataFrame({'Bob':['I liked it.','It was awful.'],'Sue':['Pretty good!','Bland']},index=['product1','product2'])

                    Bob           Sue
product1    I liked it.  Pretty good!
product2  It was awful.         Bland

In [5]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

Series没有列名，只有行名,可以有一个总的名字

In [7]:
pd.Series([10,20,30],index=['2015 Sales','2016 Sales', '2017 Sales'], name='productA')

2015 Sales    10
2016 Sales    20
2017 Sales    30
Name: productA, dtype: int64

## 读取常规文件

### 1.csv(comma-seperated values逗号分隔值)的读取
    Product A, Product B, Product C
    30,21,9
    35,34,1
    41,11,11

In [11]:
test_csv = pd.read_csv("./test.csv")

In [12]:
test_csv.shape

(28000, 784)

In [13]:
test_csv.head() # 给出记录的前5条

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
# 如果数据中col列名已经有，但是还想看到0，....,可以通过添加如下参数的形式来指明，本例中列名没有提前定义，故看不到效果
test_csv2 = pd.read_csv('./test.csv',index_col=0)
test_csv2.head()

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
pixel0,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 2.excel文件的读取

In [ ]:
# 也可以指定表名
wic = pd.read_excel("../input/publicassistance/xls_files_all/WICAgencies2013ytd.xls",sheet_name='Total Women')
wic.head()

### 3.SQL文件的读取

In [ ]:
import sqlite3
conn = sqlite3.connect("")
fires = pd.read_sql_query("SELECT * FROM fires",conn)
fires.head()